*{
    font-family: 'Roboto', sans-serif;
}

.debug{
    border: 1px solid black;
}
   
header{
    height: 70px;
}

.ad-logo-mobile{
    width: 50px;
}

.ad-logo{
    width: 120px;
    margin: 0.6em;
}

header .ad-list{
    width: 180px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.wrapper{
    height: calc(100vh - 70px);
    margin-top: 70px;
    overflow: hidden;
}

#sidebar{
    height: 100%;
    width: 70px;
    flex-shrink: 0;
    background-color: #051e34;
    background-image: url("../img/sidebar-bg.png");
}



main{
    flex-grow: 1;
    overflow-y: auto;
    height: 100%;
}

.ad-badge-color{
    background-color: #165bba;
}

.ad-btn-border{
    border: 1px solid white;
    border-radius: 6px;
}

.ad-class{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.ad-btn-table{
    height: 35px;
    width: 35px;
    border: 1px solid gray;
    border-radius: 6px;
    margin: 5px;
}

@media screen and (min-width:992px){
    #sidebar{
        height: 100%;
        width: 180px;
    }
}

@media screen and (min-width:1200px){
    .ad-d-block{
        display: block;
    }

    .ad-d-none{
        display: none;
    }
}