.debug{
    border: 1px solid black;
   }
   
   header{
       height: 70px;
   }
   
   .wrapper{
       height: calc(100vh - 70px);
       margin-top: 70px;
       overflow: hidden;
   }
   
   #sidebar{
       height: 100%;
       width: 180px;
       flex-shrink: 0;
       background-color: #051e34;
       background-image: url("../img/sidebar-bg.png");
   }
   
   main{
       flex-grow: 1;
       overflow-y: auto;
       height: 100%;
   }